<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmpe277.sjsu.spartandrive">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateFolderActivity"
            android:label="@string/app_name"/>

        <activity android:name=".MainActivity" />
        <activity android:name=".CreateFolderInFolderActivity" android:label="@string/app_name"/>
        <activity android:name=".EditFolderActivity" android:label="@string/app_name"/>
        <activity android:name=".CustomFolderNameActivity" android:label="@string/app_name"/>
        <activity android:name=".UpdateFolderActivity" android:label="@string/app_name"/>
        <activity android:name=".DeleteFolderActivity" android:label="@string/app_name"/>
        <activity android:name=".SearchFileBasedOnTitleActivity" android:label="@string/app_name"/>
        <activity android:name=".SearchPopUpActivity" android:label="@string/app_name"/>
        <activity android:name=".DeleteFileActivity" android:label="@string/app_name"/>
        <activity android:name=".listContentsActivity" android:label="@string/app_name"/>
        <activity android:name=".CustomFileNameActivity" android:label="@string/app_name"/>
        <activity android:name=".FileCreateInRootFolderActivity" android:label="SpartanDrive"/>
        <activity android:name=".CustomRootFileNameActivity" android:label="SpartanDrive"/>
        <activity android:name=".UpdateFileActivity" android:label="SpartanDrive"/>
        <activity android:name=".EditFileActivity" android:label="SpartanDrive"/>

        <activity
            android:name=".Menulist"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateFileActivity"
            android:label="@string/title_activity_create_file"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
